In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from numpy import math
from datetime import datetime, date, time
from datetime import timedelta

from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
import xgboost as xgb
from sklearn import metrics

In [2]:
header_list = ['Date Time', 'Voltage', 'Current']
df = pd.read_csv('sensors_data.csv', names = header_list)
df['Power (W)'] = df['Voltage'] * df['Current']
df['Power (KW)'] = df['Power (W)'] / 1000
df['Date Time'] = pd.to_datetime(df['Date Time'])
df['Date'] = df['Date Time'].dt.date
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Date Time']).dt.time
df['Hour'] = pd.to_datetime(df['Date Time']).dt.hour
df['Time'] = df['Time'].astype(str)
# df['Hour'] = df['Hour'].astype(str)

In [3]:
df.head(5)

,Date Time,Voltage,Current,Power (W),Power (KW),Date,Time,Hour
0,2022-06-24 23:31:26,0.26855,0.0,0.0,0.0,2022-06-24,23:31:26,23
1,2022-06-25 00:31:26,0.26855,0.0,0.0,0.0,2022-06-25,00:31:26,0
2,2022-06-25 01:31:26,0.26855,0.0,0.0,0.0,2022-06-25,01:31:26,1
3,2022-06-25 01:32:26,0.26855,0.0,0.0,0.0,2022-06-25,01:32:26,1
4,2022-06-25 01:33:26,0.31738,0.0,0.0,0.0,2022-06-25,01:33:26,1

In [4]:
rearrange_columns = ['Date Time', 'Date', 'Time', 'Hour', 'Voltage', 'Current', 'Power (W)', 'Power (KW)']
df = df[rearrange_columns]
df.tail(5)

,Date Time,Date,Time,Hour,Voltage,Current,Power (W),Power (KW)
6335,2022-06-29 18:05:28,2022-06-29,18:05:28,18,13.89160,0.42130,5.852531,0.005853
6336,2022-06-29 18:06:28,2022-06-29,18:06:28,18,13.89160,0.41783,5.804327,0.005804
6337,2022-06-29 18:07:28,2022-06-29,18:07:28,18,13.91602,0.41930,5.834987,0.005835
6338,2022-06-29 18:08:28,2022-06-29,18:08:28,18,13.89160,0.41398,5.750845,0.005751
6339,2022-06-29 18:09:29,2022-06-29,18:09:29,18,13.89160,0.40658,5.648047,0.005648

In [5]:
unique_date = df['Date'].unique()
unique_date

array(['2022-06-24T00:00:00.000000000', '2022-06-25T00:00:00.000000000',
       '2022-06-26T00:00:00.000000000', '2022-06-27T00:00:00.000000000',
       '2022-06-28T00:00:00.000000000', '2022-06-29T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [6]:
filter_today_values = df[df['Date'] == unique_date[-1]][['Date', 'Hour', 'Power (KW)']]
today_hourly_values = filter_today_values.groupby(['Date', 'Hour'])['Power (KW)'].sum().reset_index()
length_today_hourly_values = len(today_hourly_values)
length_today_hourly_values
# today_hourly_values

19

In [7]:
filter_daily_values = df[(df['Date'] > '2022-06-24') & (df['Date'] <= unique_date[-2])][['Date', 'Hour', 'Power (KW)']]
filter_daily_values

           Date  Hour  Power (KW)
1    2022-06-25     0         0.0
2    2022-06-25     1         0.0
3    2022-06-25     1         0.0
4    2022-06-25     1         0.0
5    2022-06-25     1         0.0
...         ...   ...         ...
5248 2022-06-28    23         0.0
5249 2022-06-28    23         0.0
5250 2022-06-28    23         0.0
5251 2022-06-28    23         0.0
5252 2022-06-28    23         0.0

[5252 rows x 3 columns]

In [8]:
daily_hourly_values = filter_daily_values.groupby(['Date', 'Hour'])['Power (KW)'].sum().reset_index()
daily_hourly_values

         Date  Hour  Power (KW)
0  2022-06-25     0    0.000000
1  2022-06-25     1    0.000000
2  2022-06-25     2    0.000000
3  2022-06-25     3    0.000000
4  2022-06-25     4    0.000000
..        ...   ...         ...
91 2022-06-28    19    0.012225
92 2022-06-28    20    0.000000
93 2022-06-28    21    0.000000
94 2022-06-28    22    0.000000
95 2022-06-28    23    0.000000

[96 rows x 3 columns]

In [9]:
# daily_values = daily_values[daily_values['Date'] > '2022-06-11']

In [10]:
header_list = ['Date', 'Time', 'SolarIrradiance (W/m2)', 'weather status', 'Temp (°C)', 'RealFeelTemp (°C)', 'DewPoint (°C)', 'Wind (km/h)',
              'Direction', 'Hum (%)', 'Visibility (km)', 'UVIndex', 'UVIndexText', 'PreProbability (%)', 'RainProbability (%)',
              'CloudCover (%)']
weather_data = pd.read_csv('hourly_weather_forecasted_data.csv', names = header_list, encoding= 'unicode_escape')
weather_data.drop(['Date', 'Time', 'RealFeelTemp (°C)', 'DewPoint (°C)', 'Wind (km/h)', 'Direction', 'Visibility (km)', 'UVIndex', 
                   'UVIndexText', 'PreProbability (%)', 'RainProbability (%)', 'weather status'], axis = 1, inplace = True)
weather_data.tail(14)

     SolarIrradiance (W/m2)  Temp (°C)  Hum (%)  CloudCover (%)
106                   157.8       15.5       84              97
107                   239.0       16.9       73              78
108                   239.2       18.7       59              81
109                   208.9       19.9       55              90
110                   195.0       19.3       58              93
111                   176.0       19.3       57              96
112                   149.7       19.1       58             100
113                   132.9       18.7       56             100
114                   111.2       18.0       56             100
115                    84.6       16.7       65             100
116                    53.1       16.5       67             100
117                    16.7       15.1       75             100
118                     0.0       14.3       81             100
119                     0.0       12.6       90              99

In [11]:
df1 = pd.concat([daily_hourly_values, weather_data], axis = 1)
df1.drop(['Date', 'Hour'], axis = 1, inplace = True)
df1.loc[df1['SolarIrradiance (W/m2)'] == 0, ['Temp (°C)', 'Hum (%)', 'CloudCover (%)']] = 0
# df1.to_csv('solar_energy_predictions.csv')
df1.tail(25)

     Power (KW)  SolarIrradiance (W/m2)  Temp (°C)  Hum (%)  CloudCover (%)
95          0.0                     0.0        0.0        0               0
96          NaN                     0.0        0.0        0               0
97          NaN                     0.0        0.0        0               0
98          NaN                     0.0        0.0        0               0
99          NaN                     0.0        0.0        0               0
100         NaN                     0.0        0.0        0               0
101         NaN                    13.3       13.4       88              95
102         NaN                    54.4       12.9       88              95
103         NaN                    90.0       13.5       87              95
104         NaN                   166.0       14.5       82              76
105         NaN                   171.2       15.6       76              86
106         NaN                   157.8       15.5       84              97
107         NaN                   239.0       16.9       73              78
108         NaN                   239.2       18.7       59              81
109         NaN                   208.9       19.9       55              90
110         NaN                   195.0       19.3       58              93
111         NaN                   176.0       19.3       57              96
112         NaN                   149.7       19.1       58             100
113         NaN                   132.9       18.7       56             100
114         NaN                   111.2       18.0       56             100
115         NaN                    84.6       16.7       65             100
116         NaN                    53.1       16.5       67             100
117         NaN                    16.7       15.1       75             100
118         NaN                     0.0        0.0        0               0
119         NaN                     0.0        0.0        0               0

In [12]:
count_total_rows = len(df1) - 24

In [13]:
independent_columns = df1[['SolarIrradiance (W/m2)', 'Temp (°C)', 'Hum (%)', 'CloudCover (%)']][0:count_total_rows]

In [14]:
dependent_column = df1['Power (KW)'][0:count_total_rows]

In [15]:
x_g_b = XGBRegressor(max_depth=6)
x_g_b.fit(independent_columns, dependent_column)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

#### Is model well fit or not?

In [16]:
r_sq = x_g_b.score(independent_columns, dependent_column)
r_sq

0.9999977933269505

In [17]:
forcasted_data = df1[['SolarIrradiance (W/m2)', 'Temp (°C)', 'Hum (%)', 'CloudCover (%)']].tail(24)

In [18]:
return_array = list(x_g_b.predict(forcasted_data))

In [19]:
# predicted_data = pd.DataFrame(return_array, columns = ['Power (KW)'])
# predicted_data

In [20]:
now = datetime.now()
date = now.strftime('%Y-%m-%d')
current_date_24 = [date, date, date, date, date, date, date, date, date, date, date, date, date, date, date, date,
                date, date, date, date, date, date, date, date]
current_date_12 = [date, date, date, date, date, date, date, date, date, date, date, date]

In [21]:
hours_24 = list(daily_hourly_values['Hour'][0:24])
hours_12 = list(daily_hourly_values['Hour'][0:12])

In [22]:
data_dict = {'Date': current_date_24, 'Hour': hours_24, 'Power (KW)': return_array}

In [23]:
data_dataframe = pd.DataFrame(data_dict)
data_dataframe

          Date  Hour  Power (KW)
0   2022-06-29     0    0.000017
1   2022-06-29     1    0.000017
2   2022-06-29     2    0.000017
3   2022-06-29     3    0.000017
4   2022-06-29     4    0.000017
5   2022-06-29     5    0.144224
6   2022-06-29     6    0.111191
7   2022-06-29     7    0.778842
8   2022-06-29     8    1.547316
9   2022-06-29     9    1.341527
10  2022-06-29    10    1.365621
11  2022-06-29    11    1.299826
12  2022-06-29    12    1.652454
13  2022-06-29    13    1.937045
14  2022-06-29    14    1.731678
15  2022-06-29    15    1.723475
16  2022-06-29    16    0.535373
17  2022-06-29    17    0.309410
18  2022-06-29    18    0.171342
19  2022-06-29    19    0.204684
20  2022-06-29    20    0.008092
21  2022-06-29    21    0.073496
22  2022-06-29    22    0.000017
23  2022-06-29    23    0.000017

In [24]:
data_dataframe['Power (KW)'].sum()

14.935717

## Evaluating the model

#### MSE = mean_squared_error(actual value, predicted value)

In [25]:
mean_sq_error = metrics.mean_squared_error(today_hourly_values['Power (KW)'], data_dataframe['Power (KW)'].head(length_today_hourly_values))
mean_sq_error

0.1959807987075132

In [26]:
root_mean_sq_error = np.sqrt(mean_sq_error)
root_mean_sq_error

0.44269718624304943

In [27]:
mean_ab_error = metrics.mean_absolute_error(today_hourly_values['Power (KW)'], data_dataframe['Power (KW)'].head(length_today_hourly_values))
mean_ab_error

0.29637364471928573

#### R squared

In [28]:
r_squared = metrics.r2_score(today_hourly_values['Power (KW)'], data_dataframe['Power (KW)'].head(length_today_hourly_values))
r_squared

0.7466844246389694

#### Yesterday results

In [29]:
filter_last_day_values = df[df['Date'] == unique_date[-2]][['Date', 'Hour', 'Power (KW)']]
last_day_hourly_values = filter_last_day_values.groupby(['Date', 'Hour'])['Power (KW)'].sum().reset_index()

filter_yes_values = df[(df['Date'] >= '2022-06-25') & (df['Date'] <= unique_date[-3])][['Date', 'Hour', 'Power (KW)']]
yes_hourly_values = filter_yes_values.groupby(['Date', 'Hour'])['Power (KW)'].sum().reset_index()
header_list = ['Date', 'Time', 'SolarIrradiance (W/m2)', 'weather status', 'Temp (°C)', 'RealFeelTemp (°C)', 'DewPoint (°C)', 'Wind (km/h)',
              'Direction', 'Hum (%)', 'Visibility (km)', 'UVIndex', 'UVIndexText', 'PreProbability (%)', 'RainProbability (%)',
              'CloudCover (%)']
weather_data1 = pd.read_csv('hourly_weather_forecasted_data.csv', names = header_list, encoding= 'unicode_escape')
weather_unique_date = weather_data1['Date'].unique()
filter_weather_yes_values = weather_data1[
                                         (weather_data1['Date'] >= '2022-06-25') & 
                                         (weather_data1['Date'] <= weather_unique_date[-3])][['SolarIrradiance (W/m2)',
                                                                                             'Temp (°C)', 'Hum (%)',
                                                                                             'CloudCover (%)']]
yes_df1 = pd.concat([yes_hourly_values, filter_weather_yes_values], axis = 1)
yes_df1.drop(['Date', 'Hour'], axis = 1, inplace = True)
yes_df1.loc[yes_df1['SolarIrradiance (W/m2)'] == 0, ['Temp (°C)', 'Hum (%)', 'CloudCover (%)']] = 0
yes_count_total_rows = len(yes_df1)
yes_independent_columns = yes_df1[['SolarIrradiance (W/m2)', 'Temp (°C)', 'Hum (%)', 'CloudCover (%)']][0:yes_count_total_rows]
yes_dependent_column = yes_df1['Power (KW)'][0:yes_count_total_rows]
rfr_yes = RandomForestRegressor(n_estimators = 100, random_state = 0)
rfr_yes.fit(yes_independent_columns, yes_dependent_column)
forcasted_yes_values = weather_data1[(weather_data1['Date'] == weather_unique_date[-2])][['SolarIrradiance (W/m2)',
                                                                                        'Temp (°C)', 'Hum (%)',
                                                                                        'CloudCover (%)']]
forcasted_yes_values.loc[forcasted_yes_values['SolarIrradiance (W/m2)'] == 0, ['Temp (°C)', 'Hum (%)', 'CloudCover (%)']] = 0
rfr_yes_return_array = rfr_yes.predict(forcasted_yes_values)
rfr_yes_predicted_data = pd.DataFrame(rfr_yes_return_array, columns = ['Power (KW)'])
rfr_yes_pe = rfr_yes_predicted_data['Power (KW)'].sum()
rfr_yes_mse = metrics.mean_squared_error(last_day_hourly_values['Power (KW)'], rfr_yes_predicted_data['Power (KW)'])
rfr_yes_rmse = np.sqrt(rfr_yes_mse)
rfr_yes_mae = metrics.mean_absolute_error(last_day_hourly_values['Power (KW)'], rfr_yes_predicted_data['Power (KW)'])
rfr_yes_rs = metrics.r2_score(last_day_hourly_values['Power (KW)'], rfr_yes_predicted_data['Power (KW)'])
rfr_yes_mse

0.19918551082521585